

<!--<mat-slide-toggle>Toggle me!</mat-slide-toggle>-->

<!-- Button to clear selection -->
<!--<button (click)="clearSelection()">Clear Selection</button>-->
<mat-form-field appearance="fill">
  <mat-label>Server</mat-label>
  <mat-select [(ngModel)]="selectedServer" (ngModelChange)="changeServerSelected($event)">
    <mat-option *ngFor="let ffxivServer of FFXIVServers" [value]="ffxivServer">{{ffxivServer}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Time Frame in Hours</mat-label>
  <mat-select [(ngModel)]="selectedTimeFrame" (ngModelChange)="changeSelectedTimeFrame($event)">
    <mat-option *ngFor="let timeFrame of shoppingListTimeframes" [value]="timeFrame">{{timeFrame}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Selected Date</mat-label>
  <mat-select [(ngModel)]="selectedDate" (ngModelChange)="changeSelectedDate($event)">
    <mat-option *ngFor="let availableDate of availableDates" [value]="availableDate">{{availableDate}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>File information to display in table</mat-label>
  <mat-select [(ngModel)]="selectedShoppingList" (ngModelChange)="changeFileSelected($event)">
    <mat-option *ngFor="let file of fileList" [value]="file.value">{{file.viewValue}}</mat-option>
  </mat-select>
</mat-form-field>
<!--<button mat-raised-button (click)="openDialog()">Pick one</button>-->

<div *ngIf="selectedItem">
<!--  <ul>-->
<!--    <li *ngFor="let item of selectedItem.data | keyvalue"> {{ item.key }} - {{item.value}} </li>-->
<!--  </ul>-->
  Universalis: <a href="{{selectedItem.linkHref}}">{{selectedItem.linkDisplayedText}}</a>
</div>

<br/>

<ag-grid-angular
   style="width: 100%; height: 100%"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="rowData$"
   [rowSelection]="'multiple'"
   [animateRows]="true"
   (cellClicked)="onCellClicked($event)"
   *ngIf="selectedShoppingList"
></ag-grid-angular>
